body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .date {
    padding: 10px 38px;
    background-image: linear-gradient(to bottom, rgb(124, 126, 122), rgb(147, 149, 142));
    text-align: right;
    font-weight: 700;
    color: rgb(231, 222, 222);
    font-size: 18px;
  }
  .time .time1 {
    display: flex;
  }

  .logoCont {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, rgb(73, 82, 65), rgb(191, 207, 207));
    opacity: 0.6;
    
  }
  .Info {
    display: flex;
    justify-content: space-evenly;  
    padding: 0  0 10px;
    background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
  }
  .email, .tel {
    font-weight: 600;
    font-size: 15px;
    color: black;
    opacity: 1;
  }
  .logo {
    width: 200px;
    height: 200px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 50%;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side {
    display: flex;
  }
  .brand {
    font-weight: 700;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: black !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  .modelCont {
    column-count: 3;
    column-gap: 20px;
    column-rule-style: solid;
    margin: 20px 0 40px;
    padding: 10px;
    text-align: justify;
  }
  .modelCont:hover {
    background-image: linear-gradient(to bottom, rgba(103, 139, 139, 0.2), rgba(170, 204, 152, 0.2));

  }
  
  /* .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  } */
  .picture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  .picture--1 {
    background-image: url(../images/formule1.jpg);
  }
  .picture--2 {
    background-image: url(../images/joda2.jpg);
  }
  .picture--3 {
    background-image: url(../images/tesla3.jpg);
  }
  .picture--4 {
    background-image: url(../images/ogr4.jpg);
  }
  .picture--5 {
    background-image: url(../images/mandalorianship.jpg);
  }
  .picture--6 {
    background-image: url(../images/rocketleaague6.jpg);
  }
  .picture--7 {
    background-image: url(../images/porsche911_7.jpg);
  }
  .picture--8 {
    background-image: url(../images/helicopter8.jpg);
  }
  .picture--9 {
    background-image: url(../images/plane9.jpg);
  }
  .picture--10 {
    background-image: url(../images/ronaldo10.jpg);
  }
  .picture--11 {
    background-image: url(../images/pikachu11.jpg);
  }
  .picture--12 {
    background-image: url(../images/groot12.jpg);
  }

  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 45%;
    padding-right: 48%;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: rgb(114, 138, 137);
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width: 100%;
    margin-top: 8vh;
  }
  
  .profile-content-wrapper {
    padding: 0 30px;
    text-align: justify;
  }
  
  .profile-content-wrapper h1 {
    color: rgb(122, 129, 129);
  }
  .profile-image-wrapper {
    padding: 0 38px;
  }

  @media only screen and (min-width: 320px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    .date {
      padding: 10px 38px;
      background-image: linear-gradient(to bottom, rgb(124, 126, 122), rgb(147, 149, 142));
      text-align: center;
      font-weight: 700;
    }
    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 320px;
      width: 100%;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-evenly;
      padding: 0  0 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 13px;
    }
    .modelCont {
      column-count: 1;
      margin: 20px 0 40px;
      padding: 10px;
      text-align: justify;
    }
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    .profile-image-wrapper img {
      width: 100%;
      margin-top: 6vh;
    }
  }
  @media only screen and (min-width: 350px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-evenly;
      padding: 0  0 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 15px;
    }
    .modelCont {
      column-count: 1;
      margin: 20px 0 40px;
      padding: 10px;
      text-align: justify;
    }
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (min-width: 700px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-between;
      padding: 0  38px 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 18px;
    }
    .date {
      padding: 10px 38px;
      background-image: linear-gradient(to bottom, rgb(124, 126, 122), rgb(147, 149, 142));
      text-align: right;
      font-weight: 700;
    }
    .modelCont {
      column-count: 2;
      column-gap: 20px;
      column-rule-style: solid;
      margin: 20px 0 40px;
      padding: 10px;
      text-align: justify;
    }
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (min-width: 1024px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-between;
      padding: 0  38px 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 28px;
    }
    .profile-image-wrapper img {
      width: 100%;
      margin-top: 4vh;
    }
  }
  @media only screen and (min-width: 1150px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-between;
      padding: 0  38px 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 35px;
    }
    .modelCont {
      column-count: 3;
      column-gap: 20px;
      column-rule-style: solid;
      margin: 20px 0 40px;
      padding: 10px;
      text-align: justify;
    }
    .profile-image-wrapper img {
      width: 100%;
      margin-top: 1vh;
    }
  }

  @media only screen and (min-width: 1400px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-between;
      padding: 0  38px 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 35px;
    }
    .modelCont {
      column-count: 4;
      column-gap: 20px;
      column-rule-style: solid;
      margin: 20px 0 40px;
      padding: 10px;
      text-align: justify;
    }
  }
  @media only screen and (min-width: 2100px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .picture {
      width: 100%;
      height: 100%;
    }
    .Info {
      display: flex;
      justify-content: space-between;
      padding: 0  38px 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 35px;
    }
  }
  @media only screen and (min-width: 4800px) {
    .portfolio-items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      position: relative;
    }
    .picture--1, .picture--2, .picture--3, .picture--4, .picture--5, .picture--6 {
      margin-bottom: 5px;
      width: 911px;
      height: 40vh;
    }
    .picture--7, .picture--8, .picture--9, .picture--10, .picture--11, .picture--12 {
      position: absolute;
      width: 911px;
      height: 40vh;
      top: 570px;
    }
    .img-text-wrapper--1, .img-text-wrapper--2, .img-text-wrapper--3, .img-text-wrapper--4, .img-text-wrapper--5, .img-text-wrapper--6 {
      position: absolute;
      top: -10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      padding-left: 45%;
      padding-right: 48%;
    }
    .img-text-wrapper--7, .img-text-wrapper--8, .img-text-wrapper--9, .img-text-wrapper--10, .img-text-wrapper--11, .img-text-wrapper--12 {
      position: absolute;
      top: 850px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      padding-left: 45%;
      padding-right: 48%;
    }
    .Info {
      display: flex;
      justify-content: space-between;
      padding: 0  38px 10px;
      background-image: linear-gradient(to bottom, rgb(213, 226, 226), rgb(244, 246, 243));
    }
    .email, .tel {
      font-weight: 600;
      font-size: 45px;
    }
    .profile-image-wrapper img {
      width: 100%;
      margin-top: 5vh;
    }
  }